<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.NoticeMapper">

<!-- sql 공지껄로 바꿔야됌 일단 tb_qna로 -->
	<select id="NoticeList" resultType="com.smhrd.model.NoticeVO">
		SELECT * FROM tb_notice
	</select>

	<select id="NoticeSearch" resultType="com.smhrd.model.NoticeVO">
		select * from tb_notice
		<where>
			<choose>
				<when test="param1 == 'notice_title'">
					notice_title LIKE '%' || #{param2} || '%'
				</when>
				<when test="param1 == 'notice_content'">
					notice_content LIKE '%' || #{param2} || '%'
				</when>
				<otherwise>
					admin_id = null
				</otherwise>
			</choose>
		</where>
	</select>

	<insert id="write" parameterType="com.smhrd.model.NoticeVO">
		insert into tb_notice(notice_title, notice_content, notice_file, created_at,
		updated_at, notice_views, admin_id) values(
		#{notice_title},
		#{notice_content}, #{notice_file}, systimestamp, systimestamp,
		#{notice_views}, #{admin_id}
		)
	</insert>


</mapper>